
.parent-container {
	display: flex;
	height: 100vh;
	align-items: center;  /* vertical center */
	justify-content: center; /* horizontal center */
	flex-direction: column;
}

.container {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
}

#input {
	/*background: lightgrey; /*darkseagreen;*/
    padding: 4px;
}

#restart {
	font-size: 14px;
}

pre {
	font-family: helvetica-light;
}

#instructions {
	font-family: helvetica-light;
}

div#instructionsdiv h2 {
	margin-top:0;
}

body {
	font-family: Abel;
}

#timer {
	position: absolute;
    top: 30px;
    right: 30px;
    font-size: large;
}

#time {
    font-size: 60px;
}


#game {
	padding-top:20px;
	margin-bottom:20px;
	background:lightgrey;
}