
@font-face {
    font-family: "Abel";
    src: url("assets/fonts/Abel-Regular.ttf");
}

.parent-container {
	display: flex;
	height: 100vh;
	align-items: center;  /* vertical center */
	justify-content: center; /* horizontal center */
	flex-direction: row;
}

.container {
	display: flex;
	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

#input {
	/*background: lightgrey; /*darkseagreen;*/
    padding: 4px;
}

#restart {
	font-size: 14px;
}

#game-container {
	display: none;
}

#goal {
	font-size: x-large;
}

#restart-container{
	display: none;
	text-align: center;
}

pre {
	font-family: helvetica-light;
}

#instructions {
	font-family: helvetica-light;
	width: 400px;
	position: absolute;
	left: 20px;
	display: none;
}

body {
	font-family: Abel;
}

.fixed {
	position: absolute;
}

#gear {
	bottom: 5px;
    left: 20px;
    color: lightgrey;
    font-size: 30px;
}

#timer {
    top: 30px;
    right: 30px;
    font-size: large;
    text-align: right;
    display: none;
}

#time {
    font-size: 60px;
}

#done {
	width: 140px;
	text-align: left;
	padding: 10px;
	margin-top: 10px;
}

#game {
	padding-top: 20px;
	margin-bottom: 20px;
	background: lightgrey;
}

#endscreen {
	font-size: 30px;
	text-align: center;
	display: none;
}

.intro, #presurvey, #intro1,#intro2 {
	font-family: Times;
	display: none;
	width: 40%;
}



